
#profile:hover{
        transform: scale(1.05, 1.05);
}

#profile{
        background-color:#F3F8DD;
        border-radius:50px;
        height:70px;
        margin-bottom:20px;
        overflow: hidden;
        -webkit-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.4);
      -moz-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.4);
      box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.4);
}


.status{
background-color:green;
height:10px;
width:inherit;
border-radius:5px;
margin-top: 25px;
}




body{
  padding-top:0px;
}







#profileimg{
  background-repeat: no-repeat;
  background-size: contain;
  border-radius:80px;
  height:65px;
  width:65px;
  margin-left:2.5px;
  margin-top:2.5px;
}

#prof{
  float:left;
  position: fixed;
}

#message_div{
  height:610px;
  background-color:transparent;
  border-radius:10px;
  overflow-y:auto;
  padding-top:20px;
  padding-right:20px;
}



#message_div ul
{
    padding: 0px;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
#message_div ul li
{
    height: auto;
    margin-bottom: 10px;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

#message_div ul li span
{
    display: inline-block;
    max-width: 550px;
    background-color: #FC6E6E;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin-bottom: 20px;
}

#message_div ul li span.left
{
    float: left;
}

#message_div ul li span.left:after
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FC6E6E;
}

#message_div ul li span.left:before
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
}

#message_div ul li span.right:after
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #6EA2FC;
}

#message_div ul li span.right:before
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #6EA2FC;
}

#message_div ul li span.right
{
    float: right;
    background-color: #6EA2FC;
}




#user_slot{
  height:700px;
  background-color:transparent;
  padding-left:30px;
  padding-right:70px;
  overflow-y:auto;
  padding-top:20px;

}

#msg_slot{
  height:680px;
  background-color:#F3F8DD;
  border-radius:10px;
  margin-top: 20px;
  overflow: hidden;
  -webkit-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.4);
box-shadow: 3px 5px 20px 2px rgba(0,0,0,0.4);
}

#msg_box{
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
}


#but_part{
  padding-left:10px;
  padding-right:0px;
  padding-top:0px;
  margin-top: 10px;

}


.block{
  height:20px;
  width:20px;
  border-radius:20px;
  margin-top:20px;
}

#msg_sub{
  height:auto;
  width:auto;
  background-color:transparent;
  outline:none;
  border:none;
}

#message{
  outline:none;
  height:40px;
  margin-right:10px;
  border-radius:5px;

}
